# Kryoset
RELEASE.md

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/
.venv/
venv/
env/
pip-wheel-metadata/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.coveragerc

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kryoset runtime 
~/.kryoset/
*.pem
host_key
